<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>

    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IDumWcfService" />
            </basicHttpBinding>
            <netNamedPipeBinding>
                <binding name="NetNamedPipeBinding_IDumWcfService" />
                
            </netNamedPipeBinding>
            <netTcpBinding>
                <binding name="NetTcpBinding_IDumWcfService">
                    <security>
                        <transport sslProtocols="None" />
                    </security>
                </binding>
                
            </netTcpBinding>
        </bindings>

        <client>
            <endpoint address="net.tcp://localhost:8080/TcpBinding" binding="netTcpBinding"
                bindingConfiguration="NetTcpBinding_IDumWcfService" contract="DumWcfServiceTcp.IDumWcfService"
                name="NetTcpBinding_IDumWcfService">
                <identity>
                    <userPrincipalName value="DESKTOP-P98FK7A\Rutwik_Kikani" />
                </identity>
            </endpoint>
            <endpoint address="net.pipe://localhost/NetNamedPipeBinding"
                binding="netNamedPipeBinding" bindingConfiguration="NetNamedPipeBinding_IDumWcfService"
                contract="DumWcfServicePipe.IDumWcfService" name="NetNamedPipeBinding_IDumWcfService">
                <identity>
                    <userPrincipalName value="DESKTOP-P98FK7A\Rutwik_Kikani" />
                </identity>
            </endpoint>
          <endpoint address="http://localhost:8090/HttpBinding" binding="basicHttpBinding"
                    bindingConfiguration="BasicHttpBinding_IDumWcfService" contract="DumWcfServiceHttp.IDumWcfService"
                    name="BasicHttpBinding_IDumWcfService" />
        </client>

    </system.serviceModel>



</configuration>